# Conexão SQL Server (evite hardcode de senha no código)
DB_HOST=srvjcatech01\sqljcw   # ou use DB_HOST=srvjcatech01 e DB_INSTANCE=sqljcw
DB_INSTANCE=
DB_USER=adriano-sql
DB_PASS='wc&EZtHHv9iynTD#'        # preencha aqui
DB_NAME=ALTERDATA_PACK # exemplo: ALTERDATA ou o database correto

# TLS
DB_ENCRYPT=false
DB_TRUST_CERT=true
